<hr />
<footer>
  <div class="connect">
    <div>
      <strong>let's connect → </strong>
      <a href="mailto:rob@stumb.org">rob@stumb.org</a> →
      <a class="icon" href="https://github.com/rj1" target="_blank">
        <img width="18" height="18" src="/img/icon/github.svg">
      </a>
      <a class="icon" href="https://twitter.com/rj1_dev" target="_blank">
        <img width="18" height="18" src="/img/icon/twitter.svg">
      </a>
      <a class="icon" href="https://www.youtube.com/@rj1_dev" target="_blank">
        <img width="18" height="18" src="/img/icon/youtube.svg">
      </a>
    </div>
  </div>
</footer>
