<head>
  <meta charset="utf-8" />
  {{- $title := ( .Title ) -}} {{- $siteTitle := ( .Site.Title ) -}} {{- if .IsHome -}}
  <title>{{ $siteTitle }}</title>
  {{- else -}}
  <title>{{ $title | lower }} - {{ $siteTitle | lower }}</title>
  {{- end -}}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Hi, I'm Rob. Please explore my website to see how I combine code and design to create intuitive &amp; thoughtful experiences." />
  <meta property="og:image" content="{{ .Site.Params.og_image }}" />
  {{ with .OutputFormats.Get "rss" -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
  <link id="theme" rel="stylesheet" type="text/css" media="screen" href="/css/light.css" />
  <link rel="stylesheet" href="/css/hack-subset.css">
  <link rel="icon" href="/favicon/favicon.ico" />
</head>
