<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div class="content">
      {{ partial "header.html" . }}
      <main>
        <div class="site-description">
          {{- if isset .Site.Params "subtitle" -}}
          <p>{{ .Site.Params.Subtitle | markdownify }}</p>
          {{- end -}}
        </div>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }} {{ $paginator := .Paginate (where
        $pages "Params.hidden" "ne" true) }} {{ template "partials/paginator.html" . }}
        <div class="intro">
          <p>
            Hi, I'm Rob, software architect at <a href="https://costdetect.com" target="_blank">CostDetect↗</a>. With a
            love for both code and aesthetics, I'm passionate about bridging the gap between engineering &amp; design to
            craft thoughtful user experiences.
          </p>
        </div>
        <div class="hr"></div>
        <div class="about">
          <div class="blurb">
            <span class="highlighted-text">about</span>
            <p>
              beginning all the way back in middle school, I embarked on a journey in technology &amp; design that ultimately led me to
              become a fullstack dev. I'd be thrilled to share my story with you. let's connect!
            </p>
          </div>
        </div>
        <div class="about">
        </div>
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
