body {
  font-family: Hack, monospace;
  display: block;
  margin: 8px;
  color: black;
  background-color: #ede9e9;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

a .icon {
  pointer-events: none;
  font-size: 20px;
}

a:hover .icon {
  color: black;
  background: #ede9e9;
}

.table-container {
  overflow-x: scroll;
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

th td {
  white-space: nowrap;
  width: calc(50% - 0.5em);
  display: inline-block;
  overflow: auto;
}

table {
  width: 100%;
}

table#files,
#branches,
#tags {
  width: unset;
}

table tr th {
  background-color: #4a4573b2; 
  color: #fff;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure h4::before {
  content: "↳ ";
}

.highlight pre ::selection {
  background: #6c57ffff;
  color: inherit;
}

pre {
  /* background-color: #272822; */
  /* color: white; */
}

pre code {
  color: #000;
  font-size: 100%;
  padding: 0;
}

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  padding: 0 1ch;
  word-wrap: break-word;
}

header {
  display: flex;
  column-gap: 40px;
  margin: 1em 0;
}

header .main {
  font-weight: bold;
}

header a {
  border: none;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  border: none;
}

footer {
  margin-top: 1em;
}

article h1 {
  margin-bottom: 0;
}

article .date {
  margin-top: 50px;
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  background: #533efdb3;
  border-radius: 3px;
}

article img {
  width: 100%;
}

article video {
  width: 100%;
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}

.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

::-moz-selection {
  background: #6c57ffff;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #6c57ffff;
  color: #fff;
  text-shadow: none;
}

.hr {
  border-top: 1px dashed #000;
  margin-top: 10px;
}

code {
  color: #000;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}

pre,
#blob {
  line-height: 1.4;
  overflow-x: auto;
  font-size: 0.9em;
  padding: 10px;
}

.line {
  border: none;
}

a:hover {
  color: #fff;
  background: #533efdb3;
  border-radius: 4px 4px 2px 6px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  text-decoration: none;
}

.site-description a {
  color: #ddd;
}

.site-description a:hover {
  color: black;
}

.title {
  text-decoration: none;
}

.header nav,
.footer {
  border-color: #333;
}

.soc {
  margin-right: 5px;
}

.soc:hover {
  color: black;
}

.clone {
  color: grey;
  font-size: 0.7em;
  line-height: 0.8;
  padding-bottom: 5px;
}

.meta {
  color: black;
  font-weight: 550;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.intro p {
  font-size: 30px;
  line-height: 1.2;
}

.intro a:hover {
  color: unset;
  background: unset;
}

.intro {
  color: rgba(255, 255, 255, 0.01);
  background-image: url("/img/intro-bg-light.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.about {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about .blurb {
  max-width: 45%;
  margin-right: 5%;
}

.about .open-source {
  justify-content: start;
}

.about .open-source ul {
  list-style-type: "‣ ";
  list-style-image: none;
}

.about .open-source ul > li::before {
  content: "";
}

@keyframes slide-from-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.projects {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.project {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -moz-box-align: center;
  margin-bottom: 50px;
  animation: 1.75s ease-out 0s 1 slide-from-left;
}

.project:nth-of-type(2n + 1) {
  animation: 1.25s ease-out 0s 1 slide-from-right;
}

.project:nth-of-type(2n + 1) .project-content {
  text-align: right;
  grid-column: 7 / -1;
  animation: 1.25s ease-out 0s 1 slide-from-right;
}

.project-content {
  grid-area: 1 / 1 / -1 / 7;
  position: relative;
  animation: 1.75s ease-out 0s 1 slide-from-left;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-overline {
  margin: 10px 0px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  animation: fadeIn 2.5s;
}

.project-title {
  margin: 0px 0px 20px;
  animation: fadeIn 3s;
}

.project-title h3 a:hover {
  background-color: #000;
}

.project-description {
  font-size: 12px;
  position: relative;
  z-index: 2;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 10px 30px -15px #000;
}

.project-image {
  box-shadow: 0 10px 30px -15px #000;
  grid-area: 1 / 6 / -1 / -1;
  grid-column-start: 6;
  grid-column-end: -1;
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 700px;
  display: block;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.project-image a img:hover {
  background: #fff;
}

.project:nth-of-type(2n + 1) .project-image {
  grid-column: 1 / 8;
}

.project:nth-of-type(2n + 1) .project-tech-list {
  -moz-box-pack: end;
  justify-content: flex-end;
}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.posts {
  list-style: none;
  padding-left: 2ch;
}

.post {
  margin-right: 5%;
  padding: 15px 15px 25px 15px;
  background-color: #ffe633ff;
  box-shadow: 0 10px 30px -15px #000;
  margin-bottom: 20px;
  text-align: center;
}

.post-date {
  font-size: 10px;
  text-align: end;
}

.icon:hover {
  background: transparent;
}

.icon {
  color: #ede9e9;
}

.posts {
  font-family: cursive;
  margin-bottom: 30px;
}

.posts .post-title {
  margin-top: 5px;
}

.posts .date {
  font-size: 12px;
  font-weight: 800;
}

.posts p {
  font-family: "Reenie Beanie";
  font-size: 2rem;
}

.posts ul,
.posts li {
  list-style: none;
}

.posts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts ul li a {
  text-decoration: none;
  color: #000;
  background: #fff900ff;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-2deg);
  transition: transform 0.15s linear;
}

.posts ul li:nth-child(even) a {
  transform: rotate(3deg);
  position: relative;
  top: 5px;
  background: #43f192ff;
}

.posts ul li:nth-child(4n) a {
  transform: rotate(-4deg);
  position: relative;
  top: -5px;
  background: #a789ffff;
}

.posts ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
  background: #87c8ffff;
}

.posts ul li a:hover,
.posts ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.posts ul li {
  margin: 1em;
}

.highlighted-text {
  font-size: 30px;
  padding: 3px 8px;
  color: #fff;
  background: #533efdb3;
  border-radius: 4px 4px 2px 6px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  position: relative;
  display: inline-block;
}

.page-title {
  padding: 5px 10px;
  color: #fff;
  background: #533efdb3;
  border-radius: 4px 4px 2px 6px;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  display: inline-block;
  margin-bottom: 8px;
}

.post-title {
  font-size: 18px;
  margin-top: 5px;
  transform: rotate(0deg);
}

.slider-wrapper {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}
.slider div {
  color: #000;
  height: 50px;
  margin-bottom: 50px;
  padding: -5px 50px;
  width: 120px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.i-love-html {
  background: #e96228;
  animation: slide 5s infinite;
}
.i-love-css {
  background: #2091eb;
}
.i-love-js {
  background: #e4d04b;
}

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

pre,
#blob {
  /* background-color: #2e2e2e; */
  background-color: #f8f8f8;
  line-height: 1.4;
  overflow-x: auto;
  font-size: 0.9em;
  padding: 10px;
}

pre,
#blob a {
 text-decoration: none; 
}

.line {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

#content h1::before {
  color: #4a4573b2;
  content: "# ";
}

#content h2::before {
  color: #4a4573b2;
  content: "## ";
}

#content h3::before {
  color: #4a4573b2;
  content: "### ";
}

#content h4::before {
  color: #4a4573b2;
  content: "#### ";
}

#content h5::before {
  color: #4a4573b2;
  content: "##### ";
}

#content h6::before {
  color: #4a4573b2;
  content: "###### ";
}


a {
  color: inherit;
}

.site-description a {
}

.site-description a:hover {
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.soc {
  margin-right: 5px;
}

.soc:hover {
  color: black;
}

.clone {
  color: grey;
  font-size: 0.7em;
  line-height: 0.8;
  padding-bottom: 5px;
}

.meta {
  color: grey;
}

.draft-label {
  color: #98c379;
  background-color: blue;
}

.highlight pre code[class="language-javaScript"]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}

.highlight pre code[class*="language-yml"]::before,
.highlight pre code[class*="language-yaml"]::before {
  content: "yaml";
  background: #f71e6a;
  color: white;
}

.highlight pre code[class*="language-shell"]::before,
.highlight pre code[class*="language-bash"]::before,
.highlight pre code[class*="language-sh"]::before {
  content: "shell";
  color: white;
}

.highlight pre code[class*="language-json"]::before {
  content: "json";
  background: dodgerblue;
  color: #000000;
}

.highlight pre code[class*="language-python"]::before,
.highlight pre code[class*="language-py"]::before {
  content: "py";
  background: blue;
  color: yellow;
}

.highlight pre code[class*="language-css"]::before {
  content: "css";
  background: cyan;
  color: black;
}

.highlight pre code[class*="language-go"]::before {
  content: "Go";
  background: cyan;
  color: royalblue;
}

.highlight pre code[class*="language-md"]::before,
.highlight pre code[class*="language-md"]::before {
  content: "Markdown";
  background: royalblue;
  color: whitesmoke;
}

.md img {
  max-width: 100%;
}

.md table {
  border-spacing: 0;
  border-collapse: collapse;
}

.md table th,
.md table td {
  padding: 6px 13px;
  border: 1px solid #4a4573b2;
}

pre {
  line-height: 125%;
}

p.url {
  font-size: 11px;
  line-height: 0px;
}

a.line {
  text-decoration: none;
}

td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
{ background: #f8f8f8; }
.c { color: #3D7B7B; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.cp { color: #9C6500 } /* Comment.Preproc */
.cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #E40000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #008400 } /* Generic.Inserted */
.go { color: #717171 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #687822 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #717171; font-weight: bold } /* Name.Entity */
.ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #767600 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #A45A77 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */
.nx { color: #000 }
.code .p {
  color: #000;
}

.A,
span.i,
pre a.i {
  color: #5cac37;
}

pre a.i:hover {
  color: #000;
}

.D,
span.d,
pre a.d {
  color: #f00;
}

pre a {
  text-decoration: none;
}

td.M {
  color: #b99d49;
}

table#log {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table#log td {
    padding: 0 10px;
}
