<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="site">
      {{ partial "header.html" . }}
      <section class="section background">
        <div class="section_title">Background</div>
        <div class="section_content">
          <p>
            I'm currently working as a full stack developer at
            <a class="underline-link" href="https://costdetect.com" target="_blank">CostDetect</a>, where I get to flex
            my skills in building dynamic web and mobile applications. From concept to deployment, I'm constantly
            pushing boundaries to deliver top-notch solutions and user experiences.
          </p>
          <p>
            <strong>Something that sets me apart</strong> is my ability to bridge the gap between engineering and
            design. I thrive on pushing the boundaries of technology to create seamless and thoughtful experiences. By
            combining my technical expertise and keen eye for aesthetics, I ensure that every project I undertake not
            only functions flawlessly but also looks stunning. Blending the best of both worlds is my secret sauce for
            creating truly exceptional digital experiences.
          </p>
          <p>
            I'm an advocate for open source projects and active collaboration within tech communities. I thrive in
            command line environments and love using a combination of Linux, tiling window managers, Vim, and other
            minimalist tools. By customizing my desktop experience, I continually discover more efficient workflows,
            which often serves as inspiration for my work in creating amazing user experiences in both web &amp; mobile
            contexts.
          </p>
          <p>
            <strong>When I'm not busy in front of a computer screen</strong>, I'm likely tending to plants
            <img width="16" class="emoji" src="/img/emojis/corn.png" />, experimenting in the kitchen
            <img width="16" class="emoji" src="/img/emojis/cooking.png" />, or enjoying a body of water somewhere.
            Hobbies keep me grounded and remind me to approach my work with a fresh perspective, infusing projects with
            a touch of nature's beauty. They serve as a source of constant source of inspiration.
          </p>
        </div>
      </section>
      <section class="section skills">
        <div class="section_title">Skills</div>
        <div class="section_content">
          <div class="skills">
            <div class="skills_category">
              <div class="skills_category_label">Languages</div>
              <ul>
                <li class="skills_category_item">JavaScript</li>
                <li class="skills_category_item">TypeScript</li>
                <li class="skills_category_item">PHP</li>
                <li class="skills_category_item">Python</li>
                <li class="skills_category_item">HTML, CSS, Sass</li>
                <li class="skills_category_item">SQL</li>
              </ul>
            </div>
            <div class="skills_category">
              <div class="skills_category_label">Frameworks</div>
              <ul>
                <li class="skills_category_item">Vue.js, React, Angular</li>
                <li class="skills_category_item">Express.js</li>
                <li class="skills_category_item">Laravel, Symfony, CodeIgniter</li>
                <li class="skills_category_item">Django, FastAPI</li>
                <li class="skills_category_item">WordPress</li>
              </ul>
            </div>
            <div class="skills_category">
              <div class="skills_category_label">Tools</div>
              <ul>
                <li class="skills_category_item">Bash</li>
                <li class="skills_category_item">Neovim</li>
                <li class="skills_category_item">Git, GitHub, Gitea</li>
                <li class="skills_category_item">Chrome DevTools</li>
                <li class="skills_category_item">Postman</li>
              </ul>
            </div>
            <div class="skills_category">
              <div class="skills_category_label">Design</div>
              <ul>
                <li class="skills_category_item">Figma, Illustrator</li>
                <li class="skills_category_item">Photoshop</li>
                <li class="skills_category_item">ImageMagick</li>
                <li class="skills_category_item">Wireframing</li>
                <li class="skills_category_item">Prototyping</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section experience">
        <div class="section_title">Experience</div>
        <div class="section_content">
          <div class="jobs">
            <div class="job">
              <div class="time-place">
                <div class="job_company"><a href="https://costdetect.com/" target="_blank">CostDetect</a></div>
                <div class="job_time">Mar 2020 - Present</div>
              </div>
              <div class="job_position">Full Stack Developer</div>
            </div>
            <div class="job">
              <div class="time-place">
                <div class="job_company"><a href="https://stumb.org/" target="_blank">stumb digital</a></div>
                <div class="job_time">June 2016 - Mar 2020</div>
              </div>
              <div class="job_position">Freelance Full Stack Developer</div>
            </div>
            <div class="job">
              <div class="time-place">
                <div class="job_company"><a href="#" target="_blank">Responsive Distribution, Inc.</a></div>
                <div class="job_time">Feb 2014 - May 2016</div>
              </div>
              <div class="job_position">Full Stack Developer, Product Designer</div>
            </div>
            <div class="job">
              <div class="time-place">
                <div class="job_company"><a href="#" target="_blank">Stumborg Web Solutions, Inc.</a></div>
                <div class="job_time">Sep 2010 - Feb 2014</div>
              </div>
              <div class="job_position">Freelance Web Developer, Digital Marketer</div>
            </div>
            <div class="job">
              <div class="time-place">
                <div class="job_company"><a href="#" target="_blank">Intermark Media</a></div>
                <div class="job_time">Nov 2008 - Sep 2010</div>
              </div>
              <div class="job_position">Web Developer</div>
              <div class="job_description">
                I jonesed it up here lol
                <ul>
                  <li>hi</li>
                </ul>
              </div>
            </div>
          </div>
          <a href="/resume.pdf" target="_blank" class="arrow-link">My Resume</a>
        </div>
      </section>
      <section class="section featured-projects">
        <div class="section_title">Featured Project</div>
        <div class="section_content">
          <div class="project costdetect">
            <figcaption class="project_caption">
              <div class="project_name">
                <a href="https://costdetect.com/" target="_blank"> CostDetect </a>
              </div>
              <p>
                CostDetect is a cutting-edge grocery price comparison app that was developed using React Native. The
                app's user-friendly interface allows users to easily compare prices across multiple stores, saving them
                time and money. What sets CostDetect apart from other price comparison apps is its incorporation of
                machine learning technology. By analyzing data extracted from outside sources, CostDetect categorize
                products on-the-fly with extreme accuracy, providing users with the most relevant and up-to-date
                information possible.
              </p>
              <p>
                The development process for CostDetect was extensive, and involved months of constant reseach &amp;
                engineering. Through rigorous testing and analysis, I was able to create an app that not only provides
                accurate pricing information but also saves users time and effort in their grocery shopping endeavors.
                With CostDetect, users can rest assured that they are getting the best deals on their favorite products
                &amp; daily essentials.
              </p>
              <div class="project_used" style="margin-bottom: 20px">
                <span class="project_used_item">React Native</span>
                <span class="project_used_item">Laravel</span>
                <span class="project_used_item">Python</span>
                <span class="project_used_item">pytorch</span>
                <span class="project_used_item">numpy</span>
              </div>
            </figcaption>
            <figure class="project_pic phones">
              <a href="https://costdetect.com/" target="_blank">
                <div class="phone"><img class="phone-frame" src="/img/phone-frame.png" alt="" /></div>
                <div class="phone"><img class="phone-frame" src="/img/phone-frame.png" alt="" /></div>
                <div class="phone"><img class="phone-frame" src="/img/phone-frame.png" alt="" /></div>
              </a>
            </figure>
          </div>
        </div>
      </section>
      <section class="section other-projects">
        <div class="section_title">Projects</div>
        <div class="section_content">
          <div class="project">
            <div class="project_name">
              <a href="https://ixtapascooters.com/" target="_blank" class="arrow-link">IxtapaScooters.com</a>
            </div>
            <p>
              Tasked with developing a website for a small scooter rental business, I embarked on an enjoyable and
              challenging endeavour.
            </p>
            <p>
              Leveraging Laravel's powerful backend features, I crafted a bespoke website with a custom admin panel.
              This solution enables seamless fleet and customer/rental management, while showcasing the brand's
              offerings in a beautiful frontend.
            </p>
            <p>
              Experience the convenience of Ixtapa Scooters' user-friendly platform, designed to optimize operations and
              enhance customer interactions.
            </p>
            <div class="project_used">
              <span class="project_used_item">Laravel</span>
              <span class="project_used_item">PHP</span>
              <span class="project_used_item">HTML</span>
              <span class="project_used_item">CSS</span>
              <span class="project_used_item">jQuery</span>
              <span class="project_used_item">Stripe</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://rob.stumb.org/unicode-browser" target="_blank" class="arrow-link">Unicode Browser</a>
            </div>
            <p>
              Unicode Browser is a user-friendly web application for exploring and viewing the vast range of characters
              available in the Unicode standard, sourced directly from
              <a class="underline-link" href="https://home.unicode.org/" target="_blank">unicode.org</a>. It provides
              detailed information about each character, including codepoint, name, description, and category, and
              allows the user to search/filter through the data.
            </p>
            <p>
              This project was inspired by an interest in learning more about the Unicode code space, particularly after
              discovering the use of
              <a class="underline-link" href="https://en.wikipedia.org/wiki/Private_Use_Areas">Private Use Areas</a> in
              <a class="underline-link" href="https://www.nerdfonts.com/" target="_blank">NerdFonts</a>. It can serve as
              a valuable resource for programmers, designers, researchers, language learners, and artists to appreciate
              the diverse characters within Unicode.
            </p>
            <div class="project_used">
              <span class="project_used_item">Vue.js</span>
              <span class="project_used_item">CSS</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://rob.stumb.org/commentgpt" target="_blank" class="arrow-link">CommentGPT</a>
            </div>
            <p>
              CommentGPT is a lean web application which automatically crafts comments for any YouTube video. The user
              inputs a video URL, selects a <i>tone</i>, and a relevant comment based on the video content is generated.
            </p>
            <p>
              This project was inspired by the desire to do something creative with OpenAI's API offerings, and to
              sharpen my skills with the
              <a class="underline-link" href="https://expressjs.com/" target="_blank">Express.js framework</a>.
            </p>
            <div class="project_used">
              <span class="project_used_item">Express.js</span>
              <span class="project_used_item">HTML</span>
              <span class="project_used_item">CSS</span>
              <span class="project_used_item">JavaScript</span>
              <span class="project_used_item">OpenAI</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://github.com/robstumborg/infinite-recaptcha" target="_blank" class="arrow-link"
                >Infinite reCAPTCHA</a
              >
            </div>
            <p>
              I created this hobby project to challenge myself in recreating the elegant look of Google's reCAPTCHA
              design. It continually challenges the user in a loop that never ends.
            </p>
            <div class="project_used">
              <span class="project_used_item">HTML</span>
              <span class="project_used_item">CSS</span>
              <span class="project_used_item">JavaScript</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://github.com/robstumborg/post_image" target="_blank" class="arrow-link">POST Image</a>
            </div>
            <p>
              This is a browser extension (compatible with both Chrome and Firefox) that allows users to upload an image
              by right-clicking and selecting "Upload Image". The new URL of the image is then opened in a new tab
              and/or placed in the clipboard, depending on what the user has set in the preferences panel of the
              extension.
            </p>
            <div class="project_used">
              <span class="project_used_item">HTML</span>
              <span class="project_used_item">CSS</span>
              <span class="project_used_item">JavaScript</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://github.com/robstumborg/tld" target="_blank" class="arrow-link">tld</a>
            </div>
            <p>
              tld is a simple-to-use CLI tool which enables the user to quickly search for available domains across
              nearly every existing TLD &amp; gTLD. Ideal for those who love using the terminal and want to brainstorm
              new domain names for their projects.
            </p>
            <div class="project_used">
              <span class="project_used_item">Python</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://github.com/robstumborg/rateprowler" target="_blank" class="arrow-link">rateprowler</a>
            </div>
            <p>
              rateprowler is a CLI tool to help estimate the rate limits of a given HTTP API / web service without
              having access to vital information about it.
            </p>

            <p>
              This project was conceived from the need to gauge the optimal number of proxies required for daily
              scraping operations on the vast product catalogs of prominent big box retailers' e-commerce platforms.
            </p>

            <div class="project_used">
              <span class="project_used_item">Go</span>
              <span class="project_used_item">SQLite</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://github.com/robstumborg/maildir" target="_blank" class="arrow-link">maildir</a>
            </div>
            <p>
              Tasked with processing a high volume of archived email content stored in maildir format, I created a PHP
              library to handle the
              <a class="underline-link" href="http://cr.yp.to/proto/maildir.html">maildir standard</a>. This solution
              was performant, optimized storage utilization, and streamlined the processing of archived email content
              for use within the backend of a web application.
            </p>
            <p>
              The library has now been published as free &amp; open source software. Anybody can use it in their PHP
              based projects.
            </p>
            <div class="project_used">
              <span class="project_used_item">PHP</span>
            </div>
          </div>
          <div class="project">
            <div class="project_name">
              <a href="https://rob.stumb.org/ip-converter" target="_blank" class="arrow-link">IP Converter</a>
            </div>
            <p>
              Elegant &amp; simple web interface to convert IP addresses to various formats: decimal, hex, octal, dword,
              unicode, etc. This makes quick work of an otherwise tedious task.
            </p>
            <div class="project_used">
              <span class="project_used_item">JavaScript</span>
              <span class="project_used_item">HTML</span>
              <span class="project_used_item">CSS</span>
            </div>
          </div>
        </div>
      </section>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
