<footer class="footer">
  <div class="footer_copyright">
    <div class="top">Made with <img class="emoji" src="/img/emojis/heart.png" alt="emoji" /> by</div>
    <div class="bottom">
      <span><a href="https://rob.stumb.org/">Rob Stumborg</a></span>
      <span>2023</span>
    </div>
  </div>
  <div class="footer_links">
    <a href="mailto:rob@stumb.org" target="_blank" title="email">
      <span class="text">email</span> <img src="/img/social/email.svg" alt="email" />
    </a>
    <a href="https://twitter.com/rob_stumborg" target="_blank" title="twitter">
      <span class="text">twitter</span> <img src="/img/social/twitter.svg" alt="twitter" />
    </a>
    <a href="https://instagram.com/robstumborg" target="_blank" title="instagram">
      <span class="text">instagram</span> <img src="/img/social/instagram.svg" alt="instagram" />
    </a>
    <a href="https://github.com/robstumborg" target="_blank" title="github">
      <span class="text">github</span> <img src="/img/social/github.svg" alt="github" />
    </a>
    <a href="https://www.linkedin.com/in/robertstumborg" target="_blank" title="linkedin">
      <span class="text">linkedin</span> <img src="/img/social/linkedin.svg" alt="linkedin" />
    </a>
  </div>
</footer>
<button id="top-button">🮧</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="/js/main.js" type="text/javascript"></script>
