<head>
  <meta charset="UTF-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Hi, I'm Rob. Please explore my website to see how I combine code and design to create intuitive &amp; thoughtful experiences."
  />
  {{- $title := ( .Title ) -}} {{- $siteTitle := ( .Site.Title ) -}} {{- if .IsHome -}}
  <title>{{ $siteTitle }}</title>
  {{- else -}}
  <title>{{ $title }} - {{ $siteTitle }}</title>
  {{- end -}}
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" hreflang="en-us" />
  <link rel="shortcut icon" href="favicon.ico" />
</head>
