<header>
    <div class="nav_menu">
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="mobile_menu">
    <span class="mobile_menu_circle"></span>
    <a href="#" class="mobile_menu_link">
      <span class="mobile_menu_icon">
        <span class="mobile_menu_line mobile_menu_line_1"></span>
        <span class="mobile_menu_line mobile_menu_line_2"></span>
        <span class="mobile_menu_line mobile_menu_line_3"></span>
      </span>
    </a>
  </div>
  <div class="mobile_menu_overlay">
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <div class="switch-wrapper">
    <div class="sun"></div>
    <div class="toggle-wrapper">
      <input id="switch" type="checkbox" /> <label for="switch" id="toggle">Toggle</label>
    </div>
    <div class="moon"></div>
  </div>
</header>
